<%- include("partials/indexheader"); -%>

<div></div>
<div></div>
<div></div>

    <form class="" action="/signup" method="post">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="userid">
        <label>Password</label>
        <input class="form-control" type="text" name="password">
        <label>Confirm Password</label>
        <input class="form-control" type="text" name="rePassword">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>

<%- include("partials/footer"); -%>
